[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dataclasses = '>=0.6'
djangorestframework = '>=3.9.0'
Django = '>=1.11.16'
docstring_parser = '>=0.1'
drf-yasg = '>=1.13.0'
pydantic = '>=0.15'

[dev-packages]
mock = '==2.0.0'
pytest = '>=3.6'
pytest-pythonpath = '>=0.7.1'
pytest-cov = '>=2.5.1'
pytest-django = '>=3.2.0'
semver = '==2.8.1'
tox = '>=3.1.2'

[requires]
python_version = "3.6"
